.ipynb_checkpoints/
Java 1 - Introduction/Projects/helloworld/doc
Java 1 - Introduction/Projects/helloworld/dist
Java 1 - Introduction/MyApp/target
Java 1 - Introduction/MyPowerApp

Java 1 - Introduction/MyJunitApp/target/

Java 1 - Introduction/Projects/Java/helloworld/bin/

Java 1 - Introduction/Projects/Java/helloworld/build/

Java 1 - Introduction/Projects/Java/helloworld/dist/

Java 1 - Introduction/Projects/Java/helloworld/doc/
